p {
 font-size:15px;
}

input {
    width: 150px;
    height: 25px;
    font-size: 15px;
}

#newStudent {
    text-align: center;
    border: 2px black dashed;
    margin: auto;
    padding: 1px;
    width:300px;
}

button {
    width: 125px;
    height: 30px;
    font-size: 15px;
}