p {
 font-size:15px;
}

input {
    width: 150px;
    height: 25px;
    font-size: 15px;
}

#newStudent {
    text-align: center;
    border: 2px black solid;
    margin: 5px;
    margin-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    float: right;
    width:225px;
    visibility: hidden;
}

button {
    width: 125px;
    height: 30px;
    font-size: 15px;
}

#addedStudent{
    width:50px;
    height:50px;
    border:black solid 2px;
    float:right;
}